SetEnv APPLICATION_ENV development

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule  !\.(js|ico|gif|jpg|jpeg|png|css|txt|rtf|pdf|doc|docx|xls|xlsx|ppt|pptx|mov|mpg|mp3|mp4|mpeg|avi|wmv|wmx|xml)$  index.php 
      
